@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap');

body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Do Hyeon';
    min-height: 100vh;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}
  
@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Home {
    display: block;
    margin: 20px;
}

.GoogleLogin {
    padding: 10px;
}

.KakaoLogin {
    padding: 10px;
}

.Logout {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.EmailInput {
    text-align: center;
    font-size: 24px;
    display: inline;
}

.EmailInputName {
    display: inline;
    text-align: center;
    color: tomato;
}

.Logout {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Home {
    justify-content: center;
    align-items: center;
}

.Buttons {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.Logout button {
    cursor: pointer;
    font-family: 'Do Hyeon';
    color: white;
    background-color: tomato;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}


.Button button {
    cursor: pointer;
    font-family: 'Do Hyeon';
    color: white;
    background-color: tomato;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.ChatButton button {
    cursor: pointer;
    font-family: 'Do Hyeon';
    color: white;
    background-color: tomato;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.PostView .PostViewButton {
    justify-content: center;
    align-items: center;
}

.CreatePostButton button {
    cursor: pointer;
    font-family: 'Do Hyeon';
    color: white;
    background-color: tomato;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.PostButton button {
    cursor: pointer;
    font-family: 'Do Hyeon';
    color: white;
    background-color: tomato;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.PostEditor input {
    font-family: "Do Hyeon";
}

.PostEditor textarea {
    font-family: "Do Hyeon";
}
